/* Coolors Exported Palette - coolors.co/eb5e55-3a3335-d81e5b-fdf0d5-c6d8d3 */

/* HSL */
$color1: hsla(4%, 79%, 63%, 1);
$color2: hsla(343%, 6%, 21%, 1);
$color3: hsla(340%, 76%, 48%, 1);
$color4: hsla(41%, 91%, 91%, 1);
$color5: hsla(163%, 19%, 81%, 1);

/* RGB */
$color1: rgba(235, 94, 85, 1);
$color2: rgba(58, 51, 53, 1);
$color3: rgba(216, 30, 91, 1);
$color4: rgba(253, 240, 213, 1);
$color5: rgba(198, 216, 211, 1);


$color1: rgba(240, 162, 2, 1);
$color2: rgba(241, 136, 5, 1);
$color3: rgba(217, 93, 57, 1);
$color4: rgba(32, 44, 89, 1);
$color5: rgba(88, 31, 24, 1);