* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background-image: url("./../images/pink.png");
    background-repeat: repeat; */
    background: rgb(240,162,2);
    background: linear-gradient(146deg, rgba(240,162,2,1) 12%, rgba(241,136,5,1) 46%, rgba(217,93,57,1) 90%);
    /* width: 100%;
    width: 100%; */
}


.area {
    display: grid;
    grid-template-columns: 3em 1fr 1fr 1fr 3em;
    grid-template-rows: 12em 1fr 1fr 1fr 3em;
    width: 100vw;
    height: 100vh;
}

.header {
    /* border: 1px dotted red; */
    background: rgb(88,31,24);
    background: linear-gradient(20deg, rgba(88,31,24,1) 0%, rgba(32,44,89,1) 64%);
    border-bottom-right-radius: 5em;
    /* border-top-left-radius: 100px; */
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    display: flex;
}



.hero {
    background: rgb(88,31,24);
    background: linear-gradient(20deg, rgba(88,31,24,1) 0%, rgba(32,44,89,1) 64%);
    grid-row: 2 / 4;
    grid-column: 2 / 5;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px dotted black; */
}

/* .hero-guts {
    background-color:  rgba(253, 240, 213, 1);
    margin: 1em;
    height: 95%;
    width: 100%;
} */


